@using ImagesRepository;

@model ViewImage


<div class="col-md-6 offset-md-3 jumbotron">
    @if (Model.SubmittedCorrectPassword)
    {
        <div class="row">
            <div class="col-md-8 ">

                <img src="/uploads/@Model.Image.ImagePath" style="width: 400px;" />
                <br />
                <h3>Views: @Model.Image.Views</h3>
            </div>
        </div>

    }

    @if (!Model.SubmittedCorrectPassword)
    {

        @if (Model.Message != null)
        {
            <h3 class="alert-danger">@Model.Message</h3>
        }
        <h4>Please enter the password for this image:</h4>
        <form method="post" action="/home/EnterPassword">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="text" class="form-control" placeholder="Password" name="password" />
            <br />
            <button class="btn btn-primary">Submit</button>
        </form>
    }



</div>
