

@model List<ImagesRepository.UploadedImage>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var image in Model)
        {
            <tr>
                <td>@image.Title</td>
                <td>
                    <img src="/uploads/@image.ImagePath" style="width:400px" />
                </td>
            </tr>
        }
    </tbody>
</table>

